<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Music Records</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css">
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

   <section class="bg-dark py-5">
      <h1 class="text-bg-dark main-title">The new in <br><span class="main-tilte-music">music</span></h1> 

      <div class="container-fluid py-2 d-flex justify-content-center flex-wrap" id="app">
         <input type="number" v-model="idtosearch" class="input p-3 rounded-4">
         <button v-on:click="GetById()">search by id</button>
         <div v-for="record in records" class="card p-1 m-3 w-25 shadow">
            <h1 class="card-title px-2">
               {{record.title}}
            </h1>
            <img src="https://images.pexels.com/photos/2247677/pexels-photo-2247677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="card-body">
               <p>{{record.publicationYear}}</p>
               <p>{{record.duration}}</p>
               <p>{{record.artist}}</p>
            </div>
         </div>
      </div>


      <div class="container-sm " id="grud">
         <div class="container add-form bg-info rounded-4 p-3 shadow" v-show="showAddForm">
            <h3>Add new Record</h3>
            <div class="container d-flex justify-content-evenly align-items-center flex-column h-100 w-100">
               <input v-model="addData.title" type="text" placeholder="Tilte" name="add new title">
               <input v-model="addData.artist" type="text" placeholder="Artist" name="add new Artist">
               <input v-model="addData.publicationYear" type="number" placeholder="Relice-year" name="add new Relice year">
               <input v-model="addData.Duration" type="number" placeholder="duration" name="add new duration">
               <button v-on:click="addRecord()" class="btn btn-success">Add</button>
               <div>{{addMeassge}}</div>
            </div>
         </div>

         <button v-on:click="showAddForm = !showAddForm" class="btn btn-primary text-light text-center fixed-on-screen">
            <h1 class="card-title p-0 m-0">Add new</h1>
         </button>       
      </div>

   </section>

   <script src="./Crud.js"></script> 
   <script src="./index.js"></script>  
</body>
</html>